@use "./variables" as *;
@use "./grid" as *;
@use "./mediaqueries" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
  main {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section {
    height: 100%;
    width: 40vh;
    background-color: rgba(0, 0, 0, 0.7);

    .calculatorButton,
    .operator,
    .numBtn,
    .dotBtn,
    .equalsBtn {
      display: flex;
      height: 85%;
      width: 85%;
      border-radius: 10px;
      border: 2px solid white;
      box-shadow: 0 0 10px 3px $color-primary inset, 0 0 10px 3px $color-primary;
      color: white;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 4vh;
      font-weight: 800;
      text-shadow: 1px 1px $color-quaternary;
    }

    #gbbb {
      grid-area: gbbb;
      border: 3px solid white;
      box-shadow: 0 0 10px 5px $color-secondary inset,
        0 0 10px 5px $color-secondary;
      width: 100%;
      height: 13vh;
      border-radius: 20px 20px 0 0;
      text-shadow: 0 0 10px $color-primary, 0 0 10px $color-primary;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      word-break: break-all;
      word-wrap: break-word;
      padding: 0 3% 2% 0;
      font-size: 4vh;
      // margin-top: -20%;
    }
    button:focus,
    button:active,
    #gbac:focus,
    #gbequals:active {
      border: 1px solid white;
      box-shadow: 0 0 10px 3px $color-secondary inset,
        0 0 10px 3px $color-secondary;
      color: $color-secondary;
      text-shadow: 0 0 400px rgb(255, 132, 255), 0 0 50px rgb(255, 132, 255),
        0 0 30px rgb(255, 132, 255), 0 0 70px rgb(255, 132, 255),
        0 0 80px rgb(255, 132, 255), 0 0 90px rgb(255, 132, 255),
        0 0 10px rgb(255, 132, 255);
    }
  }
}
