.calculatorGrid {
  height: 55vh;
  width: 40vh;
  display: grid;
  grid-template: "gbac gbac gbx gbd" "gb7 gb8 gb9 gbm" "gb4 gb5 gb6 gbplus" "gb1 gb2 gb3 gbequals" "gb0 gb0 gbdot gbequals";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  align-items: center;
  justify-items: center;
  border: 2px solid white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 10px 5px #2a9d8f inset, 0 0 10px 5px #2a9d8f;
  padding: 2%;
}

button {
  text-decoration: none;
  background: none;
}

#gbac {
  grid-area: gbac;
  width: 95%;
  box-shadow: 0 0 10px 3px #ae67eb inset, 0 0 10px 3px #ae67eb;
}

#gbps {
  grid-area: gbps;
}

#gbp {
  grid-area: gbp;
}

#gbd {
  grid-area: gbd;
}

#gb7 {
  grid-area: gb7;
}

#gb8 {
  grid-area: gb8;
}

#gb9 {
  grid-area: gb9;
}

#gbx {
  grid-area: gbx;
}

#gb4 {
  grid-area: gb4;
}

#gb5 {
  grid-area: gb5;
}

#gb6 {
  grid-area: gb6;
}

#gbm {
  grid-area: gbm;
}

#gb1 {
  grid-area: gb1;
}

#gb2 {
  grid-area: gb2;
}

#gb3 {
  grid-area: gb3;
}

#gbplus {
  grid-area: gbplus;
}

#gb0 {
  grid-area: gb0;
  width: 90%;
  box-shadow: 0 0 10px 3px #ae67eb inset, 0 0 10px 3px #ae67eb;
}

#gbdot {
  grid-area: gbdot;
}

#gbequals {
  grid-area: gbequals;
  box-shadow: 0 0 10px 5px #ffc300 inset, 0 0 10px 5px #ffc300;
  height: 90%;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  body {
    background-image: url(./neon.jpg);
    background-size: cover;
  }
  body section {
    margin-top: 15%;
  }
}
@media screen and (min-width: 401px) and (max-width: 820px) {
  body {
    background-image: url(./wp3102502.jpg);
    background-size: cover;
  }
  body section {
    margin-top: 12%;
  }
}
@media screen and (min-width: 821px) and (max-width: 7000px) {
  body {
    background-image: url(./wp9119050.jpg);
    background-size: cover;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}
body main {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body section {
  height: 100%;
  width: 40vh;
  background-color: rgba(0, 0, 0, 0.7);
}
body section .calculatorButton,
body section .operator,
body section .numBtn,
body section .dotBtn,
body section .equalsBtn {
  display: flex;
  height: 85%;
  width: 85%;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0 0 10px 3px #00b4d8 inset, 0 0 10px 3px #00b4d8;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4vh;
  font-weight: 800;
  text-shadow: 1px 1px #56ab91;
}
body section #gbbb {
  grid-area: gbbb;
  border: 3px solid white;
  box-shadow: 0 0 10px 5px #ff686b inset, 0 0 10px 5px #ff686b;
  width: 100%;
  height: 13vh;
  border-radius: 20px 20px 0 0;
  text-shadow: 0 0 10px #00b4d8, 0 0 10px #00b4d8;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  word-break: break-all;
  word-wrap: break-word;
  padding: 0 3% 2% 0;
  font-size: 6vh;
}
body section button:focus,
body section button:active,
body section #gbac:focus,
body section #gbequals:active {
  border: 1px solid white;
  box-shadow: 0 0 10px 3px #ff686b inset, 0 0 10px 3px #ff686b;
  color: #ff686b;
  text-shadow: 0 0 400px rgb(255, 132, 255), 0 0 50px rgb(255, 132, 255), 0 0 30px rgb(255, 132, 255), 0 0 70px rgb(255, 132, 255), 0 0 80px rgb(255, 132, 255), 0 0 90px rgb(255, 132, 255), 0 0 10px rgb(255, 132, 255);
}/*# sourceMappingURL=style.css.map */